.App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: none !important;
}

div.form-container {
    width: 100%;
    min-width: 300px;
    max-width: 610px;
    margin: 10px auto 0 auto;
    padding: 0;
}

div#header-container {
    text-align: center;
}

div#header-text {
    color: var(--alternate-form-color);
    padding: 0; margin: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: serif !important;
}

div#textbox-container {
    text-align: center;
    margin: 0 auto;
}

div#checkbox-container {
    vertical-align: top;
}

div#results-container {
	display: block !important;
    max-width: 600px !important;
    margin-top: 20px;
    height: 225px;
    max-height: 225px;
    /* This color will probably stay staticly defined */
    background-color: #bababa;
    padding: 10px 5px;
    word-wrap: break-word;
    overflow-y: auto;
}

img#tool-logo {
    height: 100px;
    max-width: 600px;
    vertical-align: middle;
    margin: 0; padding: 0;
}

div#help-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0.6, 0.6, 0.6, 0.5);
    z-index: 10000;
    transition-duration: 0.5s;
    overflow-y: auto !important;
    animation-name: fadeIn;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#help-popup-container {
    /* The two colors below will likely stay static */
    background-color: var(--alternate-form-color);
    color: black;
    border-radius: 20px;
    margin-top: 25px;
}
div#help-popup-container-text {
    padding: 10px !important;
}

div#help-button {
    font-weight: bold;
    color: var(--alternate-form-color);
    position: fixed;
    top: 10px; left: 10px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
}
div#help-button:hover {
    background-color: var(--primary-form-color);
    color: var(--secondary-color);
}

div#footer-text {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.6em;
    text-align: justify;
}

input.form-entry-text {
    max-width: 600px !important;
    min-width: 300px;
    width: 100%;
    line-height: 45px;
    max-height: 45px;
    font-size: 1em;
    margin: 10px auto 0 auto;
    background-color: var(--primary-form-color);
    color: var(--secondary-form-color);
    border: 1px solid var(--primary-form-color);
    border-radius: 7px;
    text-align: center;
    transition-duration: 0.5s;
}

input.form-entry-text:focus {
    background-color: var(--secondary-form-color);
    color: var(--primary-form-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
}


/************************/
/* Custom checkbox code */
div.checkboxView {
    margin: 0; padding: 0;
    transition: 0.5s;
    text-align: center;
    display: inline-block;
    line-height: 14px;
    width: 1em; height: 1em;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

input[type=checkbox]:checked ~ div.checkboxView {
    background-color: var(--alternate-form-color);
    color: var(--primary-form-color);
}
input[type=checkbox]:checked ~ div.checkboxView > span {
    visibility: visible;
    color: red;
}
input[type=checkbox]:disabled ~ div.checkboxView {
    background-color: #333333;
}
input[type=checkbox]:disabled ~ div.checkboxView > span {
    color: #7f7f7f !important;
}
div.checkboxView > span {
    visibility: hidden;
    font-size: 1em;
    vertical-align: middle;
}
