.App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: none !important;
}

div.form-container {
    width: 610px;
    margin: 10px auto 0 auto;
    padding: 0;
}

div#header-container {
    text-align: center;
}

div#header-text {
    padding: 20px 0 0 0;
    font-size: 36px;
    font-weight: bold;
    font-family: serif !important;
}

div#textbox-container {
    text-align: center;
    margin: 0 auto;
}

div#checkbox-container {
    vertical-align: top;
}

div#results-container {
    width: 600px !important;
    margin-top: 20px;
    height: 225px;
    max-height: 225px;
    background-color: #bababa;
    color: black;
    padding: 10px 5px;
    word-wrap: break-word;
    overflow-y: auto;
}

img#cuda-logo {
    height: 100px;
    vertical-align: middle;
    margin: 0; padding: 0;
}

input.form-entry-text {
    width: 600px;
    height: 45px;
    margin: 10px auto 0 auto;
    background-color: #eeeeee;
    color: #333333;
    border: 0;
    border-radius: 10px;
    text-align: center;
    transition-duration: 0.5s;
}

input.form-entry-text:focus {
    background-color: #333333;
    color: #eeeeee;
}
