body {
    margin: 10px;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--primary-form-color);
    outline: none !important;
    font-size: 1em;
}

:root {
    --main-bg-color: #322B24;
    --secondary-color: #D46102;
    --primary-form-color: #FFB273;
    --secondary-form-color: #333333;
    --alternate-form-color: #FFDDC1;
}

::-moz-selection, ::selection {
    background-color: var(--alternate-form-color);
    color: var(--secondary-color);
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.8em;
    color: black !important;
}

label { cursor:pointer; }

input[type=checkbox] {
    cursor: pointer;
    display: none;
}

input[type=button] {
    background-color: var(--primary-form-color);
    color: var(--secondary-form-color);
    border-radius: 10px;
    border: 0;
    width: 140px;
    height: 30px;
    transition-duration: 0.5s;
}

input[type=button]:hover {
    background-color: var(--secondary-form-color);
    color: var(--primary-form-color);
    cursor: pointer;
    box-shadow: 0 0 5px 2px black;
}

a { color: var(--secondary-color); }
a:visited { color: var(--secondary-color); }
a:hover { color: var(--primary-form-color); }
