body {
    margin: 10px;
    padding: 0;
    background-color: #263145;
    color: #eeeeee;
    outline: none !important;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

label { cursor:pointer; }

input[type=checkbox] {
    cursor: pointer;
}

input[type=button] {
    border-radius: 10px;
    border: 0;
    width: 140px;
    height: 30px;
    transition-duration: 0.5s;
}

input[type=button]:hover {
    background-color: #333333;
    color: #eeeeee;
    cursor: pointer;
    box-shadow: 0 0 5px 2px black;
}

a { color: #0084cc; }
a:visited { color: #0084cc; }
a:hover { color: #eeeeee; }
